---
import BaseLayout from '@layouts/page.astro';
import Tag from  "@components/Tag.astro";
import Topic from  "@components/Topic.astro";
import taging from "@utility/tags" 
const posts =  await Astro.glob('../blog/*.md');
const tags =  [
        ... new Set(posts.map(post => post.frontmatter.tags).flat())
    ];
---

<BaseLayout>
    <>
        <div class="text-right flex justify-center px-4 sm:px-6 md:px-8 py-3">
            <h2>المواضيع</h2>
        </div>
        <ul class="x-container !p-0 flex-wrap">
        <!-- <section class="m-auto"> -->
            {
                tags.map(tag => <li><Topic tag={tag} topic={taging.get(tag.toLocaleLowerCase())} /> </li>)
            }
        </ul>
    </>
</BaseLayout>
