:root {
    color: #fdfdfd;
}
html, body {
    min-height: 100%;
}
body {
    color: #fdfdfd;
    font-family: Parastoo;
    background-color: #181818;
}
[class*="navbar-"] .navbar-toggler-icon {
    background-image: url('');
}
.list-inline-item:not(:last-child) {
    margin-left: auto; 
}
[lang="en"]{
    font-family: Mukta !important;
}
a.link-nav {
    color: #fdfdfd;
    cursor: pointer;
}
pre, code, kbd, samp {
    font-family: var(--bs-font-monospace);
    font-size: .85em;
    text-align: left;
    unicode-bidi: embed; 
}
.astro-code {
    padding: .5rem;
    border-radius: 0.5rem;
}