---
import Layout from '@/layouts/Layout.astro';
import { getCollection, getEntry } from 'astro:content';

export async function getStaticPaths() {
	const posts = await getCollection('posts', (post) => post.data.draft !== true);
	return posts.map((post) => ({
		params: { slug: post.slug }, // use post.slug instead of post.id
	}));
}

const { slug } = Astro.params;
const post = await getEntry('posts', slug);
if (!post) throw new Error('Post not found');
const { Content } = await post.render(); // This is the updated way to get the Content component
---

<Layout title={post.data.title} description={post.data.description}>
	<main>
		<article class="mx-lg-5 m-3">
			<div class="p-2">
				<h1>{post.data.title}</h1>
				<time>{new Date(post.data.pubDate)
					.toLocaleString('ar-SA-u-ca-islamic-umalqura', {
						weekday: 'long',
						year: 'numeric',
						month: 'long',
						day: 'numeric',
					})}</time>

				<!-- Author Section -->
			<hr class="author-hr">
			<div class="author-box">
				<img src="/images/1x1/avatar.jpg" alt="حمد بنقالي" class="author-avatar">
				<div class="author-text">
					<h6 class="author-name">حمد بنقالي</h6>
					<small class="author-desc">تقني شغوف بتطوير البرمجيات وتقنيات الويب</small>
				</div>
			</div>
			</div>
			<hr>
			<Content />
		</article>
	</main>
</Layout>
