@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Vazirmatn RD';
    -webkit-tap-highlight-color: transparent;
}
[v-cloak] {
    display: none;
}

body {
    @apply bg-white;
}

.x-container {
    @apply mx-auto flex items-center justify-between px-4 sm:px-6 md:px-8 max-w-screen-lg lg:p-0
}

html, h1, h2, h3, h4, h5, h6, p, code, pre, span {
  padding-top: .65rem;
  padding-bottom: .65rem;
  line-height: 2.5rem;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-extrabold text-[#300D43] py-2
}

h1 {
  @apply text-4xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}
h4, h5, h6 {
  @apply text-xl text-black;
}
p, span {
  @apply font-medium text-base text-[#300D43] leading-8;
}
.container {
  @apply max-w-[940px]
}
.header-blog {
  max-height: 440px;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
img.tag-card {
  aspect-ratio: 43 / 18;
}
.card {
  @apply max-w-xl m-2 w-full h-full;
}
.card img {
  @apply rounded-t-xl;
  width: 100%;
  height: 100%;
}
.card .card-info {
  @apply p-3 shadow-md;
}
.card .card-info > h1 {
  @apply text-2xl;
}
code {
  @apply bg-[#f8f9fa] text-[#000000] border border-solid border-[#d2d3d7] whitespace-nowrap text-left inline-block;
  padding: 0 0.5em;
  direction: ltr;
}
b, strong {
  @apply font-black;
}
blockquote {
  text-align: left;
  direction: ltr;
  padding: 10px;
  border: solid 1px #cecece;
}