@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Haradh";
    src: url("/fonts/Haradh/Haradh_1.344-Bold.woff2") format("woff2"),
      url("/fonts/Haradh/Haradh_1.344-Bold.woff") format("woff");
    font-weight: bold;
    unicode-range: U+0600-06FF;
  }
  
  @font-face {
    font-family: "Haradh";
    src: url("/fonts/Haradh/Haradh_1.344-Heavy.woff2") format("woff2"),
      url("/fonts/Haradh/Haradh_1.344-Heavy.woff") format("woff");
    font-weight: 900;
    unicode-range: U+0600-06FF;
  }
  
  @font-face {
    font-family: "Haradh";
    src: url("/fonts/Haradh/Haradh_1.344-Hefty.woff2") format("woff2"),
      url("/fonts/Haradh/Haradh_1.344-Hefty.woff") format("woff");
    font-weight: 800;
    unicode-range: U+0600-06FF;
  }
  
  @font-face {
    font-family: "Haradh";
    src: url("/fonts/Haradh/Haradh_1.344-Regular Hidden Tashkeel.woff2") format("woff2"),
      url("/fonts/Haradh/Haradh_1.344-Regular Hidden Tashkeel.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "liga";
    unicode-range: U+0600-06FF;
  }
  
  @font-face {
    font-family: "Haradh";
    src: url("/fonts/Haradh/Haradh_1.344-Regular.woff2") format("woff2"),
      url("/fonts/Haradh/Haradh_1.344-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0600-06FF;
  }
  
  @font-face {
    font-family: "Haradh";
    src: url("/fonts/Haradh/Haradh_1.344-SemiBold.woff2") format("woff2"),
      url("/fonts/Haradh/Haradh_1.344-SemiBold.woff") format("woff");
    font-weight: 600;
    unicode-range: U+0600-06FF;
  }

@font-face {
    font-family: majalla;
    src: url(/fonts/majalla.ttf);
}

@font-face {
    font-family: majalla;
    font-weight: bold;
    src: url(/fonts/majallab.ttf);
}

[x-cloak] {
    display: none;
}

main {
    @apply lg:px-12 md:px-6 px-5 pb-12;
    font-family: "Haradh", "majalla";
    word-spacing: 0.15rem;
}

article {
    @apply lg:px-16 md:px-4 px-2 text-2xl;
    line-height: initial;
}

article .title {
    @apply my-3 text-5xl font-bold;
}

article hr {
    @apply pb-3;
}

article h1:not(.title)::before {
    content: "#";
    @apply pl-1.5 text-gray-400;
}

article h1 {
    @apply my-3 text-4xl font-bold;
}

article h2::before {
    content: "# ";
    @apply pl-0.5 text-gray-400 select-none;
}

article h2 {
    @apply my-3 text-3xl font-bold;
}

article h3::before {
    content: "# ";
    @apply pl-0.5 text-gray-400 select-none;
}

article h3 {
    @apply my-3 text-2xl font-bold;
}

article p {
    @apply my-4;
}

article p code {
    direction: ltr;
    @apply p-1 border bg-slate-100 text-base whitespace-nowrap;
    unicode-bidi: plaintext;
}

.remark-code-container {
    direction: ltr;
    @apply  p-1.5 my-2 border;
    unicode-bidi: plaintext;
}

.remark-code-title {
    @apply font-mono text-sm font-bold text-gray-500 select-none;
}

blockquote {
    margin: 0.25rem;
    padding: 0.75rem;
    border-right: solid 0.35rem #cecece;
    @apply bg-gray-50;
}

figcaption {
    @apply text-xl mb-8;
}

figure[data-img]{
    text-align: center;
}

article img {
    @apply w-full inline-block my-4 lg:max-w-[480px] sm:max-w-[90vw];
}

blockquote {
    text-align: start;
    border-left: none;
    border-right: solid 0.35rem #cecece;
}

[lang="en"] blockquote {
    direction: ltr;
    border-right: none;
    border-left: solid 0.35rem #cecece;
    @apply mb-4;
}

article a {
    @apply text-sky-500;
}

article a:hover {
    @apply underline decoration-blue-950;
}

article li {
    display: list-item;
}

[data-rehype-pretty-code-figure] {
    overflow-x: auto;
    font-size: calc(1rem);
}

[data-highlighted-chars]{
    display: inline-block;
    background: rgba(255, 255, 0, 0.6);
    border-bottom: rgb(255, 179, 0) solid 2px;
    padding: 2px;
}

article ::marker {
    @apply font-bold text-2xl;
}

article ol {
    list-style: decimal;
    padding-right: 2rem;
}

article ul {
    list-style: square;
    padding-right: 2rem;
}