@windicss;

* {
    font-family: 'Vazirmatn RD';
    -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: 2.5px auto !important;
}

[v-cloak] {
    display: none;
}

body, html {
  min-height: 100vh;
}

body {
    @apply bg-white;
}

main {
  min-height: calc(100vh - 10rem)
}

.container {
  @apply max-w-[940px]
}
.header-blog {
  max-height: 440px;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
img.tag-card {
  aspect-ratio: 43 / 18;
}
.card {
  @apply transition-all duration-100 ease-in-out max-w-xl m-2 w-full h-full;
}
.card img {
  @apply rounded-t-xl;
  width: 100%;
  height: 100%;
}
.card .card-info {
  @apply p-3 drop-shadow-md;
}
.card .card-info > h1 {
  @apply text-2xl;
}
code {
  @apply bg-[#f8f9fa] p-[0.35rem] border border-solid border-[#d2d3d7] whitespace-nowrap text-left;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  direction: ltr;
  unicode-bidi: isolate;
}
blockquote {
  text-align: left;
  direction: ltr;
  padding: 10px;
  border: solid 1px #cecece;
}

.x-container {
    @apply mx-auto flex items-center justify-between px-4 sm:px-6 md:px-8 max-w-screen-lg lg:p-0;
}

h1, h2, h3, h4, h5, h6, p, span {
  padding-top: .65rem;
  padding-bottom: .65rem;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-extrabold text-[#300D43] py-2
}

h1 {
  @apply text-4xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}
h4, h5, h6 {
  @apply text-xl;
}
p, span {
  @apply font-medium text-base text-[#300D43] leading-8;
}

figure {
  @apply text-center m-auto text-sm max-w-96;
}

.blog-content img {
  @apply inline-block my-4 max-w-96;
}

.btn {
  @apply m-1 py-2 px-4 font-semibold rounded-lg shadow-md;
}
.btn-purple {
  @apply text-white bg-[#93237B] hover:bg-[#93237B];
}
button svg {
 @apply inline h-[1.35rem] w-[1.35rem];
}
button {
  @apply transition;
}
button:hover {
  transform: scale(1.025);
}
.d-block {
  display: block;
}

.blog-content a {
  @apply text-blue-500 break-words hover:text-purple-900;
}

pre {
  @apply whitespace-pre-line break-words;
}

footer svg {
  @apply mx-2;
}