@windicss;

* {
    -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: 2.5px auto !important;
}

[v-cloak] {
    display: none;
}

body, html {
  min-height: 100vh;
}

body {
    @apply bg-white;
    font-family: 'Vazirmatn RD';
}

main {
  min-height: calc(100vh - 10rem)
}

.container {
  @apply max-w-[940px]
}
.header-blog {
  max-height: 440px;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
img.tag-card {
  aspect-ratio: 43 / 18;
}
.card {
  @apply transition-all duration-100 ease-in-out max-w-xl m-2 w-full h-full;
}
.card img {
  @apply rounded-t-xl;
  width: 100%;
  height: 100%;
}
.card .card-info {
  @apply p-3 drop-shadow-md;
}
.card .card-info > h1 {
  @apply text-3xl !important;
}

blockquote {
  margin: 0.25rem;
  padding: 0.75rem;
  border-right: solid 0.5rem #cecece;
}

[lang="en"] blockquote {
  direction: ltr;
  text-align: start;
  border-right: none;
  border-left: solid 0.5rem #cecece;
}

.x-container {
    @apply mx-auto flex items-center justify-between px-4 sm:px-6 md:px-8 max-w-screen-lg lg:p-0;
}

h1, h2, h3, h4, h5, h6, p {
  padding-top: .65rem;
  padding-bottom: .65rem;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-extrabold text-[#300D43] py-2
}

h1 {
  @apply text-4xl font-bold !important;
}
h2 {
  @apply text-3xl font-bold !important;
}
h3 {
  @apply text-2xl font-bold !important;
}
h4, h5, h6 {
  @apply text-3xl font-bold !important;
}
p {
  @apply text-base text-[#300D43] leading-8 md:leading-10;
  /*dynamic size */
  font-size: calc(1rem + 0.4vw);
  font-weight: 400;
}

figure:not(.author){
  @apply text-center m-auto text-sm @lg:max-w-[480px] sm:max-w-96;
}
#table {
  max-width: none;
  display: block;
  margin: 0;
  margin-block-end: .5rem;
  padding: 0;
  overflow-x: auto;
}

[data-tag] {
  @apply ml-2;
}


table {
  @apply leading-6;
  margin-top: 0;
  font-style: normal;
  font-size: calc(1rem + 0.25vw);
}

/**
 * Table
 */
 :where(table) {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
}

thead th{
  @apply pl-4;
}

th,
td {
  padding: .5rem;
  border-bottom: 0.15rem solid #cecece;
  color: var(--color);
  text-align: right;
  text-align: start;
}

tfoot th,
tfoot td {
  border-bottom: 0;
}

table[role=grid] tbody tr:nth-child(odd) {
  background-color: #cecece;
}

.blog-content img {
  @apply w-full inline-block my-4 lg:max-w-[480px] sm:max-w-[90vw];
}

section.byline {
  @apply text-right p-3 shadow-lg;
}

.btn {
  @apply py-2 px-4 font-semibold rounded-lg shadow-md;
  margin-block: .25rem;

}
.btn-purple {
  @apply text-white bg-[#93237B] hover:bg-[#93237B];
}
button svg {
 @apply inline h-[1.35rem] w-[1.35rem];
}
button {
  @apply transition;
}
button:hover {
  transform: scale(1.025);
}
.d-block {
  display: block;
}

.blog-content p a, .blog-content li a, [itemprop="author"] a {
  @apply text-blue-500 break-words hover:text-purple-900;
}

#topic-link h3 {
  @apply pt-0 text-blue-500 font-extrabold break-words hover:text-purple-900;
}

.astro-code {
    direction: ltr;
    border-radius: 1.5px;
    text-align: left;
    unicode-bidi: plaintext;
    width: 100%;
    padding: 0.35rem;
    box-shadow: #c6c6c681 -.25rem .45rem 0.65rem;
}

p > code {
    @apply bg-[#f8f9fa] p-[0.35rem] border border-solid border-[#d2d3d7] whitespace-nowrap text-left;
    unicode-bidi: plaintext;
}

code {
  font-family: 'IBM Plex Mono', Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace !important;
}

/* pre {
  @apply whitespace-pre-line break-words;
} */

footer svg {
  @apply mx-2;
}

.blog-content ol li, .blog-content ul li {
  @apply mx-2;
}
.blog-content ol, .blog-content ul {
  @apply m-1;
}
.blog-content ul li::marker {
  content: "- ";
}

