---
import Layout from '@/layouts/Layout-en.astro';
import Card from '@/components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="container row text-center py-3">
			<h1>X7md Blog</h1>
			<p class="instructions">
				A personal space for my own blogpost, and tech stuff...
			</p>
			<section class="container row justify-content-center" data-nosnippet>
				
			</section>
		</section>
		
		<section>
			<ul role="list">
			<li>1</li>
			</ul>
		</section>
	</main>
</Layout>

