---
import BaseLayout from '../../layouts/page.astro'
const data =  Astro.fetchContent('../blog/*.md');
---
<BaseLayout>
    <>
        <div class="text-right flex justify-center px-4 sm:px-6 md:px-8 py-3">
            <h2>المواضيع</h2>
        </div>
        <section class="flex flex-row flex-wrap items-center justify-center rounded">
            {
                data.slice(0, 5).map((post)=> (
                    <div class="card">
                    <a href={post.url}>
                    <img width="3440" height="1440" class="tag-card" src={post.image} />
                        <div class="card-info">
                        <h1>{post.title}</h1>
                        </div>
                    </a>
                    </div>
                ))
            }
        </section>
    </>
</BaseLayout>