@font-face {
  font-family: Parastoo;
  src: url('Parastoo.eot');
  src: url('Parastoo.eot?#iefix') format('embedded-opentype'),
       url('Parastoo.woff2') format('woff2'),
       url('Parastoo.woff') format('woff'),
       url('Parastoo.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Parastoo;
  src: url('Parastoo-Bold.eot');
  src: url('Parastoo-Bold.eot?#iefix') format('embedded-opentype'),
       url('Parastoo-Bold.woff2') format('woff2'),
       url('Parastoo-Bold.woff') format('woff'),
       url('Parastoo-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: Mukta;
  src: url('Mukta-ExtraBold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: Mukta;
  src: url('Mukta-Regular.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: Mukta;
  src: url('Mukta-Medium.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: Mukta;
  src: url('Mukta-Light.ttf') format('truetype');
  font-weight: 300;
}