---
import BaseLayout from "../layouts/page.astro";
---

<BaseLayout>
    <div class="max-w-screen-sm mx-auto px-4 sm:px-6 md:px-8 pt-12 pb-20 flex flex-col items-center text-center">
        <h1>عذرًا، يبدو أن هذه الصفحة غير موجودة <br/> <span>404</span></h1>
        <figure class="w-full h-full">
            <img src="/images/cat.svg" class="max-h-[360px] mx-auto" alt="cat" />
            <figcaption class="text-xl text-center">
                <a class="font-thin leading-10 text-[#8B207A] hover:text-[#52135F]" href="https://storyset.com/internet">Internet illustrations by Storyset</a>
            </figcaption>
        </figure>
	</div>
</BaseLayout>