---
import BaseLayout from "../layouts/page.astro";
---

<BaseLayout>
    <div class="max-w-screen-sm mx-auto px-4 sm:px-6 md:px-8 pt-12 pb-20 flex flex-col items-center">
        <h1 class="font-extrabold text-2xl text-center text-[#BE95B7]">عذرًا، يبدو أن هذه الصفحة غير موجودة</h1>
        <figure class="w-full h-full">
            <img src="images/cat.svg" alt="cat" />
            <figcaption class="text-xl text-center">
                <a class="font-extrabold leading-10 text-[#8B207A] hover:text-[#52135F]" href="https://storyset.com/internet">Internet illustrations by Storyset</a>
            </figcaption>
        </figure>
	</div>
</BaseLayout>