---
import BaseLayout from '../layouts/page.astro'
let meAsJSON = JSON.stringify(
{
  "@context" : "https://schema.org",
  "@type" : "Person",
  "name" : "حمد محمد عبدالستار بنقالي",
  "familyName": "بنقالي",
  "birthDate": "2004-08-21T21:00:00.000Z",
  "hasOccupation": [
    {
      "@type": "Role",
      "hasOccupation": {
      "@type": "Occupation",
      "name": "Developer",
	  "sameAs": "https://www.wikidata.org/wiki/Q5482740"
    }
	}
  ],
  "url" : "http://git.x7md.net",
  "sameAs" : [
	"https://developers.google.com/profile/u/x7md",
	"https://www.youtube.com/channel/UCoomMCEj_FyPgs_7ezBq9jQ",
    "https://ar.wikipedia.org/wiki/user:X7md",
	"https://uqu.edu.sa/Profile/s443003821",
	"https://profile.satr.codes/user/x7md",
    "https://twitter.com/x7mdNet",
    "https://www.linkedin.com/in/x7md",
    "https://t.me/x7mdNet"
  ]
}
)
---
<BaseLayout>
<>
	<header class="x-container flex-col text-right">
		<h1 class="pt-10 d-block w-full">نبذة عني</h1>
		<p class="d-block w-full text-2xl">
		أنا حمد بنقالي، طالب جامعي مهتم في علوم الحاسب، البرمجة، الويب ومفهوم مفتوح المصدر، ناشط في المجتمعات التقنية.
		</p>
		<section class="w-full">
			<h2>
				مساهماتي
			</h2>
			<ul class="max-w-[790px]">
				<li>
					<p class="font-bold">
					مجتمع منصة سطر
					</p>
					<img class="lg:max-w-[25vw] sm:max-w-[55vw] w-[80%]" src="/images/satr.svg" />
					<p>
					مجتمع منصة سطر من أكاديمية طويق، ساهمت في مساعدة أعضاء المجتمع بالرد على المشاكل البرمجية والاستفسارات والأسئلة،
					كما حصلت على وسام جافاسكربت الذهبي في منصة كودرهب التابعة لسطر.
					</p>
					<a href="https://profile.satr.codes/user/x7md">
					<button class="btn btn-purple d-flex">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
							<path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
						</svg>
							ملفي الشخصي في سطر
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
							<path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
						</svg>
					</button>
					</a>
				</li>
				<li>
					<p class="font-bold">
					مشاريع ويكيميديا
					</p>
					<img class="lg:max-w-[20vw] sm:max-w-[55vw] w-[80%]" src="https://upload.wikimedia.org/wikipedia/commons/3/3d/Wikimedia_logo_family_complete_2009.svg" />
					<p>
					سهمت بدوري في نشر المعرفة على ويكيبيديا العربية و ويكي بيانات بإجمالي تعديلات تخطى 500 تعديل وأنشئت 3 مقالات جديدة في الموسوعة.
					</p>
					<a href="https://ar.wikipedia.org/wiki/user:X7md">
					<button class="btn btn-purple d-flex">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
							<path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
						</svg>
							ملفي الشخصي في ويكيبيديا العربية
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
							<path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
						</svg>
					</button>
					</a>
				</li>
				<li>
					<p class="font-bold">
					غيتهاب
					</p>
					<img class="lg:max-w-[20vw] sm:max-w-[55vw] w-[80%]" src="/images/GitHub-Emblem.png" />
					<p>
					من حين إلى آخر أساهم وأبلغ عن الإشكاليات في بعض البرمجيات مفتوحة المصدر على Github.
					</p>
					<a href="https://github.com/x7md">
					<button class="btn btn-purple d-flex">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
							<path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
						</svg>
							ملفي الشخصي في Github
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
							<path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
						</svg>
					</button>
					</a>
				</li>
			</ul>
		</section>
	</header>
	<script type="application/ld+json" set:html={meAsJSON}>
	</script>
</>
</BaseLayout>