---
import Layout from '@/layouts/Layout.astro';
import { profilePage } from '@/schema.blog';
---

<Layout 
	title="ุนูู"
	description={`
	ุทุงูุจ ุชุตููู ุฌุฑุงูููู ๐จ๐ฝโ๐จ ูู ุฌุงูุนุฉ ุฃู ุงููุฑูุ
				ุชููู ุดุบูู ุจุชุทููุฑ ุงูุจุฑูุฌูุงุช
				ูุชูููุงุช ุงูููุจ.
	`}
>
	<main>
		<section class="container row text-rigth py-3">
			<h2>ุญูุฏ ุจููุงูู</h2>
			<p class="instructions">
				ุทุงูุจ ุชุตููู ุฌุฑุงูููู ๐จ๐ฝโ๐จ ูู ุฌุงูุนุฉ ุฃู ุงููุฑูุ
				ุชููู ุดุบูู ุจุชุทููุฑ ุงูุจุฑูุฌูุงุช
				ูุชูููุงุช ุงูููุจ.
			</p>
			<section>
				<h3>ุงูููุงุฑุงุช</h3>
				<p>
				ุฃุทูุฑ ุงูุจุฑูุฌูุงุช ููุฐ 2019ุ 
				<a href="https://profile.satr.codes/user/x7md">ุดุงุฑูุช ูู ุชุญุฏูุงุช ููุฏุฑูุจ</a>
				 ุงูุชูุงูุณูุฉ ูุฌุงูุงุณูุฑุจุชุ
				ูุนููุช ููุณุชูู ุญุฑ
				<br>
				ููููุธู ูู ูุดุงุฑูุน ูุชุทููุฑ ููุตุงุช ููุจ...
				<a href="https://ar.wikipedia.org/wiki/user:x7md">ุฃุณุงูู ูู ููููุจูุฏูุง</a> ุงูุนุฑุจูุฉุ
				<a href="https://www.wikidata.org/wiki/User:X7md">ููุดุท ูู ูููู ุจูุงูุงุช</a>.
				</p>
			</section>
			<section class="container row justify-content-center">
				<table>
					<caption class="fw-bold">
					  ุฎุจุฑุงุช ุงูุนูู
					</caption>
					<tbody>
					  <tr>
						<th scope="col" class="fw-light">
							<div class="grid" style="--bs-rows: 3; --bs-columns: 3;">
								<small style="grid-row: 1"><a href="https://rawaf.ai">ููุตุฉ ุฑูุงู ุงูุนูุงุฑูุฉ</a></small>
								<small style="grid-row: 2"><time>2022/09</time> - <time>2023/09</time></small>
							</div>
						</th>
						<th scope="col" class="fw-light text-nowrap">ููู ููุงูุน ุฅููุชุฑูููุฉ <small>(1 ุณูุฉ)</small></th>
					  </tr>
					  <tr>
						<th scope="col" class="fw-light text-start">
							<div class="grid" style="--bs-rows: 3; --bs-columns: 3;">
								<small dir="ltr" style="grid-row: 1"><a href="https://yalla.com.sa">Yalla Marketing</a></small>
								<small style="grid-row: 2"><time>2024/06</time> - <time>2024/08</time></small>
							</div>
						</th>
						<th scope="col" class="fw-light text-nowrap">ูุฎุชุต ุชููู<small>(ุดูุฑูู)</small></th>
					  </tr>
					</tbody>
				  </table>
			</section>
		</section>
	</main>
	<script type="application/ld+json" set:html={profilePage()} is:raw />
</Layout>

<style>
	.py-3{
		padding-top: 1.75rem;
		padding-bottom: 1.75rem;
	}
</style>
