---
import BaseLayout from '@layouts/page.astro'
let meAsJSON = JSON.stringify(
{
  "@context" : "https://schema.org",
  "@type" : "Person",
  "name" : "حمد",
  "familyName": "بنقالي",
  "birthDate": "2003-08-21T21:00:00.000Z",
  "hasOccupation": [
    {
      "@type": "Role",
      "hasOccupation": {
      "@type": "Occupation",
      "name": "Blogger",
	  "sameAs": "https://www.wikidata.org/wiki/Q8246794"
    }
	}
  ],
  "url" : "http://git.x7md.net/about-me",
  "sameAs" : [
	"https://twitter.com/x7mdNet",
	"https://developers.google.com/profile/u/x7md"
  ]
}
)
---
<BaseLayout>
<>
	<header class="x-container flex-col text-right">
		<h1 class="pt-10 d-block w-full">نبذة عني</h1>
		<p class="d-block w-full text-2xl">
		أنا حمد بنقالي، طالب جامعي مهتم في علوم الحاسب، البرمجة، الويب ومفهوم مفتوح المصدر، ناشط في المجتمعات التقنية.
		</p>
		<section class="w-full">
			<h2>
				المشاريع والخبرات
			</h2>
			<ul class="max-w-[790px]">
				<li>
					<p class="font-bold">
					منصة رواف العقارية | 2021 سبتمبر - الآن
					</p>
					<img class="lg:max-w-[25vw] sm:max-w-[55vw] h-[120px]" src="/images/rawaf-logo.png" />
					<p>
					مشروع منصة وحدات عقارية...
					أعمل كموظف بدور "خبير برمجيات -  مطور واجهات أمامية" ضمن فريق تطوير المنصة.
					</p>
					<a href="http://rawaf.ai/">
					<button class="btn btn-purple d-flex">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
						</svg>						  
							منصة رواف 
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
							<path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
						</svg>
					</button>
					</a>
				</li>
				<li>
					<p class="font-bold">
					مدونة مشخبط  | 2021 يونيو - الآن
					</p>
					<img class="lg:max-w-[25vw] sm:max-w-[55vw] w-[80%]" src="/images/mushkhbat-logo.svg" />
					<p>
					مشخبط هو أحد مشاريعي الجانبية، بهدف صنع مدونة ومساحة تدوين شخصية، تفاصيل أكثر
					<a class="text-[#3b82f6]" href="/portfolio/mushkhbat">في المقالة</a>.
					</p>
					<a href="https://mushkhbat.com/">
					<button class="btn btn-purple d-flex">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
						</svg>						  
							مدونة مشخبط
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
							<path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
						</svg>
					</button>
					</a>
				</li>
			</ul>
		</section>
		<section class="w-full">
			<h2>
				مساهماتي
			</h2>
			<ul class="max-w-[790px]">
				<li>
					<p class="font-bold">
					مجتمع منصة سطر
					</p>
					<img class="lg:max-w-[25vw] sm:max-w-[55vw] w-[80%]" src="/images/satr.svg" />
					<p>
					مجتمع منصة سطر من أكاديمية طويق، ساهمت في مساعدة أعضاء المجتمع بالرد على المشاكل البرمجية والاستفسارات والأسئلة،
					كما حصلت على وسام جافاسكربت الألماسي في منصة كودرهب التابعة لسطر.
					</p>
					<a href="https://profile.satr.codes/x7md/public">
					<button class="btn btn-purple d-flex">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
							<path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
						</svg>
							ملفي الشخصي في سطر
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
							<path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
						</svg>
					</button>
					</a>
				</li>
				<li>
					<p class="font-bold">
					مشاريع ويكيميديا
					</p>
					<img class="lg:max-w-[20vw] sm:max-w-[55vw] w-[80%]" src="https://upload.wikimedia.org/wikipedia/commons/3/3d/Wikimedia_logo_family_complete_2009.svg" />
					<p>
					سهمت بدوري في نشر المعرفة على ويكيبيديا العربية و ويكي بيانات بإجمالي تعديلات تخطى 1000 تعديل وأنشئت 5 بُذور جديدة في الموسوعة.
					</p>
					<a href="https://ar.wikipedia.org/wiki/user:X7md">
					<button class="btn btn-purple d-flex">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
							<path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
						</svg>
							ملفي الشخصي في ويكيبيديا العربية
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
							<path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
						</svg>
					</button>
					</a>
				</li>
				<li>
					<p class="font-bold">
					غيتهاب
					</p>
					<img class="lg:max-w-[20vw] sm:max-w-[55vw] w-[80%]" src="/images/GitHub-Emblem.png" />
					<p>
					من حين إلى آخر أساهم وأبلغ عن الإشكاليات في بعض البرمجيات مفتوحة المصدر على Github.
					</p>
					<a href="https://github.com/x7md">
					<button class="btn btn-purple d-flex">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
							<path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
						</svg>
							ملفي الشخصي في Github
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
							<path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
						</svg>
					</button>
					</a>
				</li>
			</ul>
		</section>
	</header>
	<script type="application/ld+json" set:html={meAsJSON}>
	</script>
</>
</BaseLayout>