---
import Layout from '@/layouts/Layout.astro';
import { blog } from '@/schema.blog';
import { getCollection } from 'astro:content';

const posts = await getCollection('posts', ({ data }) => {
	return data.draft !== true;
	});
---

<Layout title="مدونة x7md">
	<main>
		<section class="container row text-center py-3">
			<h1>مدونة حمد</h1>
			<p class="instructions">
				مساحة شخصية، لتدويناتي الشخصية وأمور تقنية...
			</p>
			<section class="container row justify-content-center">
				
			</section>
		</section>
		
		<section class="container">
			<h2>آخر التدوينات:</h2>
			<ol role="list">
				{
					posts.sort(
						(a, b) => Date.parse(a.data.pubDate.valueOf()) - Date.parse(b.data.pubDate.valueOf())
					).reverse().splice(0, 3).map((post) => {
						return (
						<li>
							<a href={"/posts/" + post.id}>
							<article>
								<h3>{post.data.title}</h3>
								<time><small>
								{
									new Date(post.data.pubDate).toLocaleString('ar-SA-u-ca-islamic-umalqura', {
										weekday: 'long',
										year: 'numeric',
										month: 'long',
										day: 'numeric',
									})
								}</small></time>
							</article>
							</a>
						</li>
						);
					})
				}
			</ol>
		</section>
	</main>
	<script is:inline type="application/ld+json" set:html={JSON.stringify(
		{...JSON.parse(blog()),
		...{"mainEntityOfPage": {
        "@type": "WebPage",
		}
      }}
	)} />
</Layout>

<style>
	.py-3{
		padding-top: 1.75rem;
		padding-bottom: 1.75rem;
	}
	ol {
		list-style-type: none;
		margin-block-start: 0;
    	margin-block-end: 0;
		padding-inline-start: 0;
	}
	ol a {
		text-decoration: none;
	}
	li h3:hover {
		text-decoration: underline;
	}
	li {
		width: min(100%, 600px)
	}
</style>
