---
import BaseLayout from '../layouts/page.astro'
---
<BaseLayout>
	<div class="max-w-screen-sm mx-auto px-4 sm:px-6 md:px-8 pt-12 pb-20 flex flex-col items-center">
		<h1 class="font-extrabold text-5xl leading-10 text-[#BE95B7]">أهلًا بالعالم!</h1>
	</div>
</BaseLayout>
