---
// @ts-nocheck
import BaseLayout from '@layouts/page.astro'
---
<BaseLayout>
	<header class="max-w-screen-sm text-center mx-auto px-4 sm:px-6 md:px-8 pt-12 flex flex-col items-center">
		<h1>أهلًا بالعالم!</h1>
		<p>أهلًا وسهلًا بك في مدونتي الشخصية حيث ستجد آرائي، مواضيع عن البرمجة، وغير ذلك...</p>
	</header>
	<div class="x-container !justify-center">
		<div>
		<section class="flex gap-4">
			<a href="/about-me">
				<button class="btn btn-purple w-full">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
						<path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
					</svg>
					أعمالي
				</button>
			</a>
			<a href="/posts">
				<button class="btn btn-purple w-full">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
						<path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
					</svg>
					تدويناتي
				</button>
			 </a>
		</section>
		<section>
			 <!--<a href="/topics">
				<button class="btn btn-purple w-full">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
						<path stroke-linecap="round" stroke-linejoin="round" d="M19 20H5a2 2 0 01-2-2V6a2 2 0 012-2h10a2 2 0 012 2v1m2 13a2 2 0 01-2-2V7m2 13a2 2 0 002-2V9a2 2 0 00-2-2h-2m-4-3H9M7 16h6M7 8h6v4H7V8z" />
					  </svg>
					المواضيع
				</button>
			 </a>-->
			 <a href="https://www.mushkhbat.com/">
				<button class="btn w-full text-[#1A0920]">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
						<path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z" />
					</svg>
					مدونة مشخبط
				</button>
			 </a>
		</section>
	</div>
	</div>
</BaseLayout>