---
import BaseLayout from '../layouts/page.astro'
---
<BaseLayout>
	<div class="max-w-screen-sm text-center mx-auto px-4 sm:px-6 md:px-8 pt-12 pb-20 flex flex-col items-center">
		<h1>أهلًا بالعالم!</h1>
		<p>أهلًا وسهلًا بك في مدونتي الشخصية التي تحوي آرائي الشخصية، مواضيع البرمجة، وغير ذلك...</p>
	</div>
</BaseLayout>
