---
import BaseLayout from '../layouts/page.astro'
---
<BaseLayout>
	<div class="max-w-screen-sm mx-auto px-4 sm:px-6 md:px-8 pt-12 pb-20 flex flex-col items-center">
		<h1 class="font-extrabold text-5xl m-5 leading-10 text-[#be95b7]">أهلًا بالعالم!</h1>
		<p class="font-medium text-2xl m-5 text-[#BE95B7]">أهلًا وسهلًا بك في مدونتي الشخصية</p>
	</div>
</BaseLayout>
