---
// @ts-nocheck
import BaseLayout from '../layouts/page.astro'
---
<BaseLayout>
	<header class="max-w-screen-sm text-center mx-auto px-4 sm:px-6 md:px-8 pt-12 pb-20 flex flex-col items-center">
		<h1>أهلًا بالعالم!</h1>
		<p>أهلًا وسهلًا بك في مدونتي الشخصية حيث ستجد آرائي، مواضيع عن البرمجة، وغير ذلك...</p>
		<div class="inline-flex">
			<a href="/about-me">
				<button class="btn btn-purple">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
						<path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
					</svg>
					نبذة عني
				</button>
			</a>
			<a href="/posts">
				<button class="btn btn-purple">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
						<path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
					</svg>
					تدويناتي
				</button>
			 </a>
			 <a href="/posts/topics">
				<button class="btn btn-purple">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
						<path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
					</svg>
					المواضيع
				</button>
			 </a>
		</div>
	</header>
</BaseLayout>