---
import BaseLayout from '../../../layouts/page.astro';
import Tag from  "../../../components/Tag.astro";

const posts =  await Astro.glob('../../blog/*.md');
const tags =  [
        ... new Set(posts.map(post => post.frontmatter.tags).flat())
    ];
---

<BaseLayout>
    <>
        <div class="text-right flex justify-center px-4 sm:px-6 md:px-8 py-3">
            <h2>المواضيع</h2>
        </div>
        <section class="flex flex-row flex-wrap items-center justify-center rounded">
            {
                tags.map(tag => <Tag tag={tag} />)
            }
        </section>
    </>
</BaseLayout>
