---
let { type = 'button' } = Astro.props;
---

<style>
.btn {
	@apply py-2 px-4 bg-[#93237B] text-white font-semibold rounded-lg shadow-md hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-400 focus:ring-opacity-75
	}
</style>

<button
	class="btn"
	{type}
>
	<slot />
</button>
