---
const { postTitle, postURL, postImage } = Astro.props;
---
<div class="card shadow-sm hover:shadow-lg border border-gray-300 rounded-lg hover:border-2">
    <a href={postURL}>
    <img width="3440" height="1440" class="tag-card" src={postImage} />
    <div class="card-info border-t-1 border-gray-300">
    <h1>{postTitle}</h1>
    </div>
    </a>
</div>