---

---
<section class="byline" itemprop="author" itemscope itemtype="http://schema.org/Person">
  <section class="line-meta">
    <div class="line-name">
      <strong>تدوينة كتبها:</strong>
      <span itemprop="name">
        <a href="/about-me">
          <span itemprop="givenName">حمد</span>
          <span itemprop="familyName">بنقالي</span>
        </a>
      </span>
    </div>
    <div class="line-desc">
       طالب جامعي في أم القرى، مُدون، ومطور ويب مهتم بإثراء المحتوى الرقمي العربي على الويب.
    </div>
  </section>
</section>