---
const { tag } = Astro.props;
const tagTitle = tag.charAt(0).toUpperCase() + tag.substr(1).toLowerCase();
const tagUrl = `/posts/topics/${tag.toLowerCase()}`;
---

<!╌ FIXME: Better ui ╌>

<a href={tagUrl}>
  <button class="btn btn-purple">
    {tagTitle}
  </button>
</a>
