---
const { tag, topic } = Astro.props
const link = tag.replaceAll(" ", "-").toLocaleLowerCase()
---
<div class="flex m-2 min-w-[375px] mex-w-[99vw]">
    <div class="flex-none ml-2">
      <a href={"/topics/" + link}>
        <img 
        height="90"
        width="90" 
        src={topic.image || new URL("/images/1x1/404.png",  "https://x7md.net/")}
        class="object-contain" loading="lazy" />
      </a>
    </div>
    <section class="flex-auto">
      <div class="flex flex-wrap">
        <a id="topic-link" href={"/topics/" + link}>
          <h3 class="flex-auto text-md text-slate-900">
            {topic.name}
          </h3>
        </a>
      </div>
      <hr />
      <p class="text-sm text-slate-700">
        {topic?.description}
      </p>
    </section>
  </div>