---
// Component Imports
import Navbar from '../components/Navbar.astro';
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="ar" dir="rtl">
	<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>x7md</title>
	<link rel="stylesheet" type="text/css" href="/fonts/font.css">
		<style global>
		@import "../styles/global.css";
		</style>
	<script src="https://unpkg.com/petite-vue" defer init></script>
	</head>

	<body>
		<main>
			<Navbar />
            <slot></slot>
		</main>
	</body>
</html>