---
// Component Imports
import Navbar from '../components/Navbar.astro';
import Banner from '../components/Banner.astro';
import Footer from '../components/Footer.astro';
import "./../styles/global.css";
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="ar" dir="rtl">
	<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="icon" type="image/x-icon" href="/favicon.svg" />
	<title>x7md</title>
	<link rel="stylesheet" type="text/css" href="/Vazirmatn-RD-font-face.css" />
	<script defer src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
	<meta name="description" content="مدونة حمد بنقالي x7md, مكان لآرائي الشخصية وبعض الأمور التقنية البرمجية" />
	<script src="https://unpkg.com/petite-vue" defer init></script>
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3411370527276845"
    crossorigin="anonymous"></script>
	</head>
	<body>
		<Navbar />
		<!-- <Banner /> -->
			<main>
				<slot></slot>
			</main>
		<Footer />
	</body>
</html>